<h1><%= @event.title %></h1>
<% if @event.user == current_user %>
  <h3>Open for players: <%= @event.open %></h3>
<% end %>
<% @players.each do |player| %>
  <%= player.name %>
<% end %>
<%= form_for(@new_player) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.hidden_field :event_id, value: @event.id  %>
  <%= f.submit "Add" %>
<% end %>

<% if @event.user == current_user %>
  <%= link_to "Open/Close", @event, method: :patch %>
  <%= link_to "Delete Event", @event, method: :delete %>
<% end %>
